// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// //

//Variabless
$primary : #222831;
$text    : white;
$accent  :  #0DD3DC;
$circle-rad : 120px;
$sidebar-size : 17vw;
$transition-delay: 0.25s;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    background-color: #393E46;
    color:white;
    .sidebar {
        transition: all $transition-delay ease;
        margin: 0;
        padding: 1.5em;

        h1 {
            transition: inherit;
            text-align: center;
        }

        top: 0;
        min-width: $sidebar-size;
        max-width: $sidebar-size;
        
        height: 100%;
        background-color: #222831;
        color: white;
        display: block;
        text-decoration: none;
        text-decoration-style: none;
        position: fixed;

        .logo {
            transition: inherit;
            text-align: center;
            font-weight: bold;
            justify-self: center;
            font-size: 0.75rem;
            vertical-align: middle;  
            margin: 3em auto;
            line-height: $circle-rad;
    
            width: $circle-rad;
            height: $circle-rad;


            background-color: $accent;
            border-radius: 50%;
        }
        
        ul {
            font-family: inherit;
            
            transition: initial;
            display: flex;
            flex-direction: column;
            text-align: left;
            height: 70vh;
            margin: 1.75em 0 0 1.7em;
            position: relative;
            padding: 0;
            list-style-type: none;
            font-size: 0.9rem;

            #logout {
                margin-right: 0;;
                text-align: end;
                bottom: 0;
                position: absolute;
            }
            a{
                // font-weight: 600;

                font-family: inherit;
                margin: 0 0;
                .menu-icon {
                    color: $text;
                    float: right;
                    // display: inline-block;
                    font-size: 1.5em;
                    margin-top: -1.9em;
                    margin-right: 1.75em;
                  .fa-sign-out-alt{
                      margin-left: 3em;
                  }
                    
                }
            }
            li {
                font-size: 0.9rem;
                font-weight: 600;
                font-family: inherit;
                text-decoration: none;
                color: white;
                width: fit-content;
                border-radius: 25px;
                padding: 1.25em 3em 1.25em 1.25em;
                position: relative;
              
               
            }
            ul {
                
                height: fit-content;
                padding:0;
                color: black;
                margin: 0 1em;
                display: none;

                li{
                    margin: 0 0;
                    font-size: 14px;
                    margin-left: 2.2em;
                    padding: 0em 1.5em 1em;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                li:hover{
                    cursor: pointer;
                }
              
            }
             .menu-icon {
                float: right;
                // display: inline-block;
                font-size: 1.5em;
                margin-left: 1em;
                
            }
           .arrows  {    
               padding-top: 0.25rem;
                right: 20px;
                color: white;
                position: absolute;
            }
            .active:after {
                content: "";
                display: block;
                padding-top: 0.5em;
                border-bottom: solid 2px $accent;
                text-decoration: underline;
            }

            li:hover {
                background-color: #333c4b;
                width: fit-content;
            }
        }
      
    }
    .sidebar.collapsed{
        transition: all $transition-delay ease;
        
        min-width: 0.27 * $sidebar-size;
        max-width: 0.27 * $sidebar-size;
        h1{
            text-transform: uppercase;
            font-size: 1.2rem;
            transition: initial;
            writing-mode: vertical-lr;
            text-orientation: upright;

        }
        .logo{
            transition: inherit;
            display: none;
        }
        
        ul{
            margin: 2em 1em;
            transition: inherit;
            ul{
              li{
                  display: none;
              }
            }
            a{
                justify-content: center;
                .menu-icon{
                    text-align: center;
                    float: none;
                    padding: 0.5em auto;
                    margin: 1em auto;
                }
                .menu-icon:hover li{
                    display: contents;
                }

                li{
                    transition: inherit;
                    display: none;
                }
            }
        }
    }
    .content.collapsed{
        transition: all $transition-delay ease;
        margin-left: 12vw;
    }
    .content {
        line-height: 2rem;
        margin: 1.5em 1em 1.3em $sidebar-size+2vw;
        padding: 1.5em 1em;
        transition: all $transition-delay ease;
            
        .top-menu {
            margin: 0 0 2em 0;
            font-size: 2em;
            height: auto;
            color: white;

            h3 {
                display: inline;
                padding: 0 0.5em;

            }

            a {
                text-decoration: none;
                
                i {

                    color: white;
                }
            }

            .user-info{
                text-align: right;
                float: right;
                margin-right: 1.75em;
                h3{
                    font-size: 1.25rem;
              
                }
                p{
                    margin: -0.5rem 2.5em;
                    font-size: 1rem;
                    
                }
                i{
                    right: 0;
                }
            }
        }

        .chart-container {
            padding: 2em;
            background-color: #464D57;
            border-radius: 20px;
            position: relative;
            color: white;
            margin: 0 3.5em;
            height: 30vh;
            width: 70vw;

        }
        .rank-table{
            background-color:#464D57 ;
            display: inline-block;
            border-radius: 20px;
            color: white;
            margin: 3.5em 3.5em;
            padding: 1.2em 1em;
            width: 30vw;
            h3{
                text-align: center;
            }
            table{
                padding: 0 2.7em;
                th,td{
                    padding: 0.75em 2.2em;
                    
                }
                tr:first-of-type td{
                    border: none;
                    background-color: $accent;
                    color: black;
                    
                }
            }
        }
        .right-table{
            display: inline-block;
            background-color:#464D57 ;
            display: inline-block;
            border-radius: 20px;
            color: white;
            margin: 3.5em 3.5em 3.5em 2em ;
            padding: 1.2em 1em;
            width: 35vw;
            h3{
                text-align: center;
            }
            table{
                padding: 0 5em;
                th,td{
                    padding: 0.75em 2.5em;
                    
                }
                tr:first-of-type td{
                    border: none;
                    background-color: $accent;
                    color: black;
                    
                }
            }
        }

    }
}
