
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
                background-color: #fff;
                width:80%;
                height:80%;
                border-radius:15px;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .luar {
                background-color:grey;
            }

            .coll{
				display: inline-block;
                width:50%;
                height:100%;
                padding:0px;
                margin:0px;
                align-items: center;
                justify-content: center;
            }

            .to-img{
                width:100%;
                height:100%;
                vertical-align:middle;
            }

            .img {
                width:100%;
                height:100%;
            }

            .col-kanan {
                width:30%;
				display: inline-block;
                position:relative;
            }

            .form{
                width:300px;
                
            }

            .input{
                margin-bottom: 20px;
            }